pipeline/Incremental pipeline.json
{
	"name": "Incremental pipeline",
	"properties": {
		"activities": [
			{
				"name": "Get HighWaterMark date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "HighWaterMark_DS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LastUpdatedTime",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get HighWaterMark date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(modifieddate) as LastUpdatedTime from salesLT.customer",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLDatabase_DS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Load incremental data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LastUpdatedTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from salesLT.customer where modifieddate >'@{activity('Get HighWaterMark date').output.firstRow.prop_0}' and\nmodifieddate <= '@{activity('LastUpdatedTime').output.firstRow.LastUpdatedTime}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQLDatabase_DS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Gen_Adls_Csv_DS",
						"type": "DatasetReference",
						"parameters": {
							"FilePath": "incremental_customer"
						}
					}
				]
			},
			{
				"name": "Update HighWaterMark table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Load incremental data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select '@{activity('LastUpdatedTime').output.firstRow.LastUpdatedTime}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQLDatabase_DS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "HighWaterMark_DS",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-04-23T17:30:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}