pipeline/Sql_Incremental_load.json
{
	"name": "Sql_Incremental_load",
	"properties": {
		"activities": [
			{
				"name": "lastload_json",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "lastload_airline_DS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "maxloaddate_sql",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(booking_date) as last_load from \ndbo.FactBookings",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Gen_SQL_DS",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"tableName": "FactBookings"
						}
					}
				}
			},
			{
				"name": "Copy data from sql to adls",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lastload_json",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "maxloaddate_sql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.FactBookings\nwhere booking_date > '@{activity('lastload_json').output.firstRow.lastload}'\nand booking_date <= '@{activity('maxloaddate_sql').output.firstRow.last_load}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Gen_SQL_DS",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"tableName": "FactBookings"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_Airline_ADLS_DS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Watermark to update lastload",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data from sql to adls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "lastload",
								"value": {
									"value": "@activity('maxloaddate_sql').output.firstRow.last_load",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "empty_Json_ADLS_Airline_DS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "lastload_airline_DS",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "Airline_Project"
		},
		"annotations": [],
		"lastPublishTime": "2026-05-03T16:23:40Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}